body {
    margin: 0px;
    padding: 0px;
}


#slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 10%; /* Full-width */
    height: 30%; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* #inner {
    z-index: 1000;
    position: absolute;
float: left;} */