html {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    background: url("../../assets/img/fog3.png") no-repeat;
    background-size: cover;
    overflow: hidden;
    font-family: 'Roboto';
}

#Back {
    position: absolute;
    top: 50vh;
    left: -5vw;
    padding: 100px 50px;
    background: #040b14;
    -webkit-transform: rotate(90deg) translateX(-50%);
    transform: rotate(90deg) translateX(-50%);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    box-shadow: 50%;
    border-style: solid;
    border-color: #121314;
}


.Backtext {
    position: fixed;
    top: 67vh;
    background: #040b14;
    color: aqua;
    padding: 10px 28px;
    left: 2.3vw;
    box-shadow: 100%;
    border-radius: 5px;
    text-align: center;
    border-style: solid;
    border-color: #121314;
}

#slider {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 300px;
    height: 5px;
    background: darkturquoise;
    outline: none;
    border-radius: 2px;
    transition: opacity .2s;
    cursor: grab;
}

#slider:hover {
    background: rgb(115, 21, 21);
}

.slider::-webkit-slider-thumb {
    background: red;
    appearance: none;
    width: 100px;
    height: 100px;
}

#panel {
    font-family: Roboto;
    font-size: 1em;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.preload {
    width: 100%;
    height: 100%;
    background: #040b14;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#logo {
    width: 400px;
    height: 360px;
    margin: 5px;
    z-index: 1;

}

.Name {
    width: 300px;
    height: 10px;
    margin: 150px auto;
    font-size: 4em;
    text-shadow: -1px 2px 2px #000;
    text-align: center;
    color: azure;
}

.loader-frame {
    position: absolute;
    bottom: 50px;
    width: 70px;
    height: 70px;
    margin: auto;
    left: 50vw;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.loader {
    position: absolute;
    border: 5px solid transparent;
    border-radius: 50%;
}


#loader1 {
    width: 70px;
    height: 70px;
    border-top: 5px solid azure;
    border-bottom: 5px solid azure;
    -webkit-animation: clockwisespin 2s linear 3;
    animation: clockwisespin 2s linear 3;

}

#loader2 {
    width: 60px;
    height: 60px;
    border-left: 5px solid darkturquoise;
    border-right: 5px solid darkturquoise;
    top: 5px;
    left: 5px;
    -webkit-animation: anticlockwisespin 2s linear 3;
    animation: anticlockwisespin 2s linear 3;
}

/*.texts {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 50px auto;
    padding: 50px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: block;
    background: darkturquoise;
}*/

.text1 {
    position: absolute;
    width: 30%;
    height: 55%;
    margin: 200px;
    left: 850px;
    top: 25px;
    opacity: 0;
    box-shadow: 100%;
    border-radius: 5px;
    padding: 20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 5s;
    transition: 5s;
    color: white;
    background: darkturquoise;
    transition-duration: .5s;
}

.text1:hover {
    background: rgb(115, 21, 21);
}


.text2 {
    position: absolute;
    width: 30%;
    height: 50%;
    margin: 200px;
    left: 850px;
    top: 25px;
    box-shadow: 100%;
    border-radius: 5px;
    padding: 20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    display: none;
    background: darkturquoise;
}

.text2:hover {
    background: rgb(115, 21, 21);
}


.text3 {
    position: absolute;
    width: 30%;
    height: 35%;
    margin: 200px;
    left: 850px;
    top: 25px;
    box-shadow: 100%;
    border-radius: 5px;
    padding: 20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    display: none;
    background: darkturquoise;
}

.text3:hover {
    background: rgb(115, 21, 21);
}

.text4 {
    position: absolute;
    width: 30%;
    height: 45%;
    margin: 200px;
    left: 850px;
    top: 25px;
    box-shadow: 100%;
    border-radius: 5px;
    padding: 20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    display: none;
    background: darkturquoise;
}

.text4:hover {
    background: rgb(115, 21, 21);
}

.text5 {
    position: absolute;
    width: 30%;
    height: 25%;
    margin: 200px;
    left: 850px;
    top: 25px;
    box-shadow: 100%;
    border-radius: 5px;
    padding: 20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    display: none;
    background: darkturquoise;
}

.text5:hover {
    background: rgb(115, 21, 21);
}

.text6 {
    position: absolute;
    width: 30%;
    height: 35%;
    margin: 200px;
    left: 850px;
    top: 25px;
    box-shadow: 100%;
    border-radius: 5px;
    padding: 20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    display: none;
    background: darkturquoise;
}

.text6:hover {
    background: rgb(115, 21, 21);
}

.text7 {
    position: absolute;
    width: 30%;
    height: 35%;
    margin: 200px;
    left: 850px;
    top: 25px;
    box-shadow: 100%;
    border-radius: 5px;
    padding: 20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    display: none;
    background: darkturquoise;
}

.text7:hover {
    background: rgb(115, 21, 21);
}

.text8 {
    position: absolute;
    width: 50%;
    height: 95%;
    margin: 310px;
    left: 600px;
    top: 25px;
    box-shadow: 100%;
    border-radius: 5px;
    padding: 20px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: white;
    display: none;
    background: darkturquoise;
}

.text8:hover {
    background: rgb(115, 21, 21);
}

.solutions {
    font-size: 1em;
}

.change {
    font-size: 1.2em;
    text-align: center;
}

*/ @-webkit-keyframes clockwisespin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes anticlockwisespin {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
