body {
    margin: 0px;
    padding: 0px;
    background: darkred;
}

.header {
    position: relative;
    float: left;
    width: 100%;
    height: 50px;
    background: #151515;
    -webkit-transition: .2s opacity;
    transition: .2s opacity;
}
